$primary-color: #2c7a74;
$background-color: #f0f3f9;
$dark-text: #33344a;
$light-text: #ffffff;

$tamagotchi-1: #9c6dd3;
$tamagotchi-2: #31b4a9;
$tamagotchi-3: #ff9a7b;
$tamagotchi-4: #7bcfff;
$tamagotchi-screen: #327240;
$tamagotchi-border: #ffbc95;
$btn-nap: #ffcc33;
$btn-play: #ff66aa;
$btn-eat: #66ccff;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$border-radius: 12px;
